.m-button {
  min-width: 80px;
  height: 36px;
  padding: 8px 19px 9px 19px;
  border-radius: 4px;
  background-color: #50b83c;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  border: unset;
  cursor: pointer;
  text-align: center;
  line-height: 20px;
}
.m-button + .m-button {
  margin-left: 8px;
}
.m-button.disable {
  opacity: 0.56;
}
.m-button-none {
  border: none !important;
}

.m-button:hover {
  background-color: #57c841;
}
.m-button:active {
  background-color: #118044;
}
.m-button.disable:hover {
  background-color: transparent;
}
/*m-button--sub*/
.m-button--sub {
  color: #1f1f1f;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
}

.m-button--sub:hover {
  background-color: #f6f6f6;
}
.m-button--sub.disable:hover {
  background-color: transparent;
}
.m-button--sub:active {
  background-color: #ebebeb;
}

/*m-button-icon*/

.m-button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 4px;
  align-items: center;
  line-height: 30px;
}
.m-button-icon i {
  padding: 6px;
  font-size: 16px;
}

/*m-button--no-text*/

.m-button--no-text {
  width: 40px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 4px;
  border: unset;
  font-size: 16px;
  color: #aeadad;
  cursor: pointer;
  border: 1px solid #e0e0e0;
  position: relative;
}
.m-button--no-text.active {
  background-color: #f4fff2;
  color: #50b83c;
  border: 1px solid #50b83c;
  pointer-events: visible;
}
.m-button--no-text:hover {
  background-color: #f4fff2;
  color: #50b83c;
  border: 1px solid #50b83c;
}
/* .m-button--no-text:active {
  background: #118044;
  color: #ffffff;
} */
